.root {
    -fx-font-family: "Courier New", "Consolas", "Lucida Console";
    -v-default-gap: 5;
}

.crafter-root {
    -fx-padding: 5;
    -fx-vgap: -v-default-gap;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.nav-button:disabled {
    -fx-opacity: 0.75;
}

.slot:hover, .nav-button:hover, .nav-button:selected {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.6), 6, 0.7, 2, 2);
}

.slot:pressed, .nav-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.page-container {
    -fx-spacing: -v-default-gap;
}

.item-texture {
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
    -fx-translate-y: 0.5;
}

.item-amount-label {
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;

    -fx-translate-y: -6;
    -fx-translate-x: -10;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 4, 0.7, 1, 1);
}

.item-meta-container {
    /* to make it align to the background texture */
    -fx-padding: 23 40;
}

.item-name {
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-underline: true;
}

.item-desc {
    -fx-font-size: 16;
    -fx-wrap-text: true;
    -fx-padding: 5 0;
}

.crafting-container {
    -fx-spacing: 58;
}

.ingredients-grid {
    -fx-hgap: -v-default-gap;
    -fx-vgap: -v-default-gap;
}

.harvester-container {
    -fx-alignment: center;
    /* to make it align to the background texture */
    -fx-translate-y: 5;
}
